/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* Variables */
:root {
    /* Colors code */

    --text-dark-500: #6b7280;
    --text-dark-base: #1f2937;
    --text-dark-950: #030712;
    --text-light-base: #fff;

    --primary-color: var(--rose-500);
    --secondary-color: var(--yellow-500);
    --third-color: var(--purple-500);


    --rose-50: #fef2f2;
    --rose-100: #fee2e2;
    --rose-200: #fecaca;
    --rose-300: #fca5a5;
    --rose-400: #f87171;
    --rose-500: #ef4444;
    --rose-600: #dc2626;
    --rose-700: #b91c1c;
    --rose-800: #991b1b;
    --rose-900: #7f1d1d;
    --rose-950: #450a0a;

    --yellow-50: #fefce8;
    --yellow-100: #fef9c3;
    --yellow-200: #fef08a;
    --yellow-300: #fde047;
    --yellow-400: #facc15;
    --yellow-500: #eab308;
    --yellow-600: #ca8a04;
    --yellow-700: #a16207;
    --yellow-800: #854d0e;
    --yellow-900: #713f12;
    --yellow-950: #422006;

    --purple-50: #faf5ff;
    --purple-100: #f3e8ff;
    --purple-200: #e9d5ff;
    --purple-300: #d8b4fe;
    --purple-400: #c084fc;
    --purple-500: #a855f7;
    --purple-600: #9333ea;
    --purple-700: #7e22ce;
    --purple-800: #6b21a8;
    --purple-900: #581c87;
    --purple-950: #3b0764;


    /* Font Family */
    --quicksand-font: 'Quicksand', sans-serif;
    --helvetica-font: 'Helvetica', sans-serif;
}

* {
    font-family: var(--quicksand-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-dark-base);
}

/******************/
/* General Config */
/******************/

/* Position Style */

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

/* Top Style */

.top-4 {
    top: 0.25rem
}


.top-8 {
    top: 0.5rem
}


.top-12 {
    top: 0.75rem
}


.top-16 {
    top: 1.0rem
}


.top-20 {
    top: 1.25rem
}


.top-24 {
    top: 1.5rem
}


.top-28 {
    top: 1.75rem
}


.top-32 {
    top: 2.0rem
}


.top-36 {
    top: 2.25rem
}


.top-40 {
    top: 2.5rem
}


.top-44 {
    top: 2.75rem
}


.top-48 {
    top: 3.0rem
}


.top-52 {
    top: 3.25rem
}


.top-56 {
    top: 3.5rem
}


.top-60 {
    top: 3.75rem
}


.top-64 {
    top: 4.0rem
}


/* Bottom Style */

.bottom-4 {
    bottom: 0.25rem
}


.bottom-8 {
    bottom: 0.5rem
}


.bottom-12 {
    bottom: 0.75rem
}


.bottom-16 {
    bottom: 1.0rem
}


.bottom-20 {
    bottom: 1.25rem
}


.bottom-24 {
    bottom: 1.5rem
}


.bottom-28 {
    bottom: 1.75rem
}


.bottom-32 {
    bottom: 2.0rem
}


.bottom-36 {
    bottom: 2.25rem
}


.bottom-40 {
    bottom: 2.5rem
}


.bottom-44 {
    bottom: 2.75rem
}


.bottom-48 {
    bottom: 3.0rem
}


.bottom-52 {
    bottom: 3.25rem
}


.bottom-56 {
    bottom: 3.5rem
}


.bottom-60 {
    bottom: 3.75rem
}


.bottom-64 {
    bottom: 4.0rem
}


/* Left Style */

.left-4 {
    left: 0.25rem
}


.left-8 {
    left: 0.5rem
}


.left-12 {
    left: 0.75rem
}


.left-16 {
    left: 1.0rem
}


.left-20 {
    left: 1.25rem
}


.left-24 {
    left: 1.5rem
}


.left-28 {
    left: 1.75rem
}


.left-32 {
    left: 2.0rem
}


.left-36 {
    left: 2.25rem
}


.left-40 {
    left: 2.5rem
}


.left-44 {
    left: 2.75rem
}


.left-48 {
    left: 3.0rem
}


.left-52 {
    left: 3.25rem
}


.left-56 {
    left: 3.5rem
}


.left-60 {
    left: 3.75rem
}


.left-64 {
    left: 4.0rem
}


/* Right Style */

.right-4 {
    right: 0.25rem
}


.right-8 {
    right: 0.5rem
}


.right-12 {
    right: 0.75rem
}


.right-16 {
    right: 1.0rem
}


.right-20 {
    right: 1.25rem
}


.right-24 {
    right: 1.5rem
}


.right-28 {
    right: 1.75rem
}


.right-32 {
    right: 2.0rem
}


.right-36 {
    right: 2.25rem
}


.right-40 {
    right: 2.5rem
}


.right-44 {
    right: 2.75rem
}


.right-48 {
    right: 3.0rem
}


.right-52 {
    right: 3.25rem
}


.right-56 {
    right: 3.5rem
}


.right-60 {
    right: 3.75rem
}


.right-64 {
    right: 4.0rem
}

/* Overflow Style */

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-visible {
    overflow: visible;
}


/* Flex Styles */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

/* Grid Styles */
.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-none {
    grid-template-columns: none;
}

.grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
    grid-template-rows: none;
}

/* Width Styles */
.w-px {
    width: 1px;
}

.w-auto {
    width: auto;
}

.w-1-2 {
    width: 50%;
}

.w-1-4 {
    width: 25%;
}

.w-2-4 {
    width: 50%;
}

.w-3-4 {
    width: 75%;
}

.w-1-5 {
    width: 20%;
}

.w-2-5 {
    width: 40%;
}

.w-3-5 {
    width: 60%;
}

.w-4-5 {
    width: 80%;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.w-min {
    width: min-content;
}

.w-max {
    width: max-content;
}

.w-fit {
    width: fit-content;
}

.w-fix {
    width: 1280px;
}

/* Gap Styles */
.gap-4 {
    gap: .25rem;
}

.gap-8 {
    gap: .5rem;
}

.gap-12 {
    gap: .75rem;
}

.gap-16 {
    gap: 1rem;
}

.gap-20 {
    gap: 1.25rem;
}

.gap-24 {
    gap: 1.5rem;
}

.gap-28 {
    gap: 1.75rem;
}

.gap-32 {
    gap: 2rem;
}

/* Gap Styles */
.gap-4 {
    gap: .25rem;
}

.gap-8 {
    gap: .5rem;
}

.gap-12 {
    gap: .75rem;
}

.gap-16 {
    gap: 1rem;
}

.gap-20 {
    gap: 1.25rem;
}

.gap-24 {
    gap: 1.5rem;
}

.gap-28 {
    gap: 1.75rem;
}

.gap-32 {
    gap: 2rem;
}

/*****************/
/* Padding Style */
/*****************/

/* Padding All */
.p-4 {
    padding: 0.25rem;
}

.p-8 {
    padding: 0.5rem;
}

.p-12 {
    padding: 0.75rem;
}

.p-16 {
    padding: 1.0rem;
}

.p-20 {
    padding: 1.25rem;
}

.p-24 {
    padding: 1.5rem;
}

.p-28 {
    padding: 1.75rem;
}

.p-32 {
    padding: 2.0rem;
}

.p-36 {
    padding: 2.25rem;
}

.p-40 {
    padding: 2.5rem;
}

.p-44 {
    padding: 2.75rem;
}

.p-48 {
    padding: 3.0rem;
}

.p-52 {
    padding: 3.25rem;
}

.p-56 {
    padding: 3.5rem;
}

.p-60 {
    padding: 3.75rem;
}

.p-64 {
    padding: 4.0rem;
}

/* Padding Top */
.p-t-4 {
    padding-top: 0.25rem;
}

.p-t-8 {
    padding-top: 0.5rem;
}

.p-t-12 {
    padding-top: 0.75rem;
}

.p-t-16 {
    padding-top: 1.0rem;
}

.p-t-20 {
    padding-top: 1.25rem;
}

.p-t-24 {
    padding-top: 1.5rem;
}

.p-t-28 {
    padding-top: 1.75rem;
}

.p-t-32 {
    padding-top: 2.0rem;
}

.p-t-36 {
    padding-top: 2.25rem;
}

.p-t-40 {
    padding-top: 2.5rem;
}

.p-t-44 {
    padding-top: 2.75rem;
}

.p-t-48 {
    padding-top: 3.0rem;
}

.p-t-52 {
    padding-top: 3.25rem;
}

.p-t-56 {
    padding-top: 3.5rem;
}

.p-t-60 {
    padding-top: 3.75rem;
}

.p-t-64 {
    padding-top: 4.0rem;
}

/* Padding Bottom */
.p-b-4 {
    padding-bottom: 0.25rem;
}

.p-b-8 {
    padding-bottom: 0.5rem;
}

.p-b-12 {
    padding-bottom: 0.75rem;
}

.p-b-16 {
    padding-bottom: 1.0rem;
}

.p-b-20 {
    padding-bottom: 1.25rem;
}

.p-b-24 {
    padding-bottom: 1.5rem;
}

.p-b-28 {
    padding-bottom: 1.75rem;
}

.p-b-32 {
    padding-bottom: 2.0rem;
}

.p-b-36 {
    padding-bottom: 2.25rem;
}

.p-b-40 {
    padding-bottom: 2.5rem;
}

.p-b-44 {
    padding-bottom: 2.75rem;
}

.p-b-48 {
    padding-bottom: 3.0rem;
}

.p-b-52 {
    padding-bottom: 3.25rem;
}

.p-b-56 {
    padding-bottom: 3.5rem;
}

.p-b-60 {
    padding-bottom: 3.75rem;
}

.p-b-64 {
    padding-bottom: 4.0rem;
}

/* Padding Left */
.p-l-4 {
    padding-left: 0.25rem;
}

.p-l-8 {
    padding-left: 0.5rem;
}

.p-l-12 {
    padding-left: 0.75rem;
}

.p-l-16 {
    padding-left: 1.0rem;
}

.p-l-20 {
    padding-left: 1.25rem;
}

.p-l-24 {
    padding-left: 1.5rem;
}

.p-l-28 {
    padding-left: 1.75rem;
}

.p-l-32 {
    padding-left: 2.0rem;
}

.p-l-36 {
    padding-left: 2.25rem;
}

.p-l-40 {
    padding-left: 2.5rem;
}

.p-l-44 {
    padding-left: 2.75rem;
}

.p-l-48 {
    padding-left: 3.0rem;
}

.p-l-52 {
    padding-left: 3.25rem;
}

.p-l-56 {
    padding-left: 3.5rem;
}

.p-l-60 {
    padding-left: 3.75rem;
}

.p-l-64 {
    padding-left: 4.0rem;
}

/* Padding Right */
.p-r-4 {
    padding-right: 0.25rem;
}

.p-r-8 {
    padding-right: 0.5rem;
}

.p-r-12 {
    padding-right: 0.75rem;
}

.p-r-16 {
    padding-right: 1.0rem;
}

.p-r-20 {
    padding-right: 1.25rem;
}

.p-r-24 {
    padding-right: 1.5rem;
}

.p-r-28 {
    padding-right: 1.75rem;
}

.p-r-32 {
    padding-right: 2.0rem;
}

.p-r-36 {
    padding-right: 2.25rem;
}

.p-r-40 {
    padding-right: 2.5rem;
}

.p-r-44 {
    padding-right: 2.75rem;
}

.p-r-48 {
    padding-right: 3.0rem;
}

.p-r-52 {
    padding-right: 3.25rem;
}

.p-r-56 {
    padding-right: 3.5rem;
}

.p-r-60 {
    padding-right: 3.75rem;
}

.p-r-64 {
    padding-right: 4.0rem;
}

/****************/
/* Margin Style */
/****************/

/* Margin All*/
.m-4 {
    margin: 0.25rem
}

.m-8 {
    margin: 0.5rem
}

.m-12 {
    margin: 0.75rem
}

.m-16 {
    margin: 1.0rem
}

.m-20 {
    margin: 1.25rem
}

.m-24 {
    margin: 1.5rem
}

.m-28 {
    margin: 1.75rem
}

.m-32 {
    margin: 2.0rem
}

.m-36 {
    margin: 2.25rem
}

.m-40 {
    margin: 2.5rem
}

.m-44 {
    margin: 2.75rem
}

.m-48 {
    margin: 3.0rem
}

.m-52 {
    margin: 3.25rem
}

.m-56 {
    margin: 3.5rem
}

.m-60 {
    margin: 3.75rem
}

.m-64 {
    margin: 4.0rem
}

/* Margin Top */
.m-t-4 {
    margin-top: 0.25rem
}

.m-t-8 {
    margin-top: 0.5rem
}

.m-t-12 {
    margin-top: 0.75rem
}

.m-t-16 {
    margin-top: 1.0rem
}

.m-t-20 {
    margin-top: 1.25rem
}

.m-t-24 {
    margin-top: 1.5rem
}

.m-t-28 {
    margin-top: 1.75rem
}

.m-t-32 {
    margin-top: 2.0rem
}

.m-t-36 {
    margin-top: 2.25rem
}

.m-t-40 {
    margin-top: 2.5rem
}

.m-t-44 {
    margin-top: 2.75rem
}

.m-t-48 {
    margin-top: 3.0rem
}

.m-t-52 {
    margin-top: 3.25rem
}

.m-t-56 {
    margin-top: 3.5rem
}

.m-t-60 {
    margin-top: 3.75rem
}

.m-t-64 {
    margin-top: 4.0rem
}

/* Margin Bottom */

.m-b-4 {
    margin-bottom: 0.25rem
}

.m-b-8 {
    margin-bottom: 0.5rem
}

.m-b-12 {
    margin-bottom: 0.75rem
}

.m-b-16 {
    margin-bottom: 1.0rem
}

.m-b-20 {
    margin-bottom: 1.25rem
}

.m-b-24 {
    margin-bottom: 1.5rem
}

.m-b-28 {
    margin-bottom: 1.75rem
}

.m-b-32 {
    margin-bottom: 2.0rem
}

.m-b-36 {
    margin-bottom: 2.25rem
}

.m-b-40 {
    margin-bottom: 2.5rem
}

.m-b-44 {
    margin-bottom: 2.75rem
}

.m-b-48 {
    margin-bottom: 3.0rem
}

.m-b-52 {
    margin-bottom: 3.25rem
}

.m-b-56 {
    margin-bottom: 3.5rem
}

.m-b-60 {
    margin-bottom: 3.75rem
}

.m-b-64 {
    margin-bottom: 4.0rem
}

/* Margin Left */
.m-l-4 {
    margin-left: 0.25rem
}

.m-l-8 {
    margin-left: 0.5rem
}

.m-l-12 {
    margin-left: 0.75rem
}

.m-l-16 {
    margin-left: 1.0rem
}

.m-l-20 {
    margin-left: 1.25rem
}

.m-l-24 {
    margin-left: 1.5rem
}

.m-l-28 {
    margin-left: 1.75rem
}

.m-l-32 {
    margin-left: 2.0rem
}

.m-l-36 {
    margin-left: 2.25rem
}

.m-l-40 {
    margin-left: 2.5rem
}

.m-l-44 {
    margin-left: 2.75rem
}

.m-l-48 {
    margin-left: 3.0rem
}

.m-l-52 {
    margin-left: 3.25rem
}

.m-l-56 {
    margin-left: 3.5rem
}

.m-l-60 {
    margin-left: 3.75rem
}

.m-l-64 {
    margin-left: 4.0rem
}

/* Margin Right */
.m-r-4 {
    margin-right: 0.25rem
}

.m-r-8 {
    margin-right: 0.5rem
}

.m-r-12 {
    margin-right: 0.75rem
}

.m-r-16 {
    margin-right: 1.0rem
}

.m-r-20 {
    margin-right: 1.25rem
}

.m-r-24 {
    margin-right: 1.5rem
}

.m-r-28 {
    margin-right: 1.75rem
}

.m-r-32 {
    margin-right: 2.0rem
}

.m-r-36 {
    margin-right: 2.25rem
}

.m-r-40 {
    margin-right: 2.5rem
}

.m-r-44 {
    margin-right: 2.75rem
}

.m-r-48 {
    margin-right: 3.0rem
}

.m-r-52 {
    margin-right: 3.25rem
}

.m-r-56 {
    margin-right: 3.5rem
}

.m-r-60 {
    margin-right: 3.75rem
}

.m-r-64 {
    margin-right: 4.0rem
}

/***************/
/* TEXT CONFIG */
/***************/

/* Display Text Styles */
.text-helvetica {
    font-family: var(--helvetica-font);
}

.text-display-large {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.text-display-small {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -1.5px;
}


/* Heading Styles */
h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    font-weight: bold;
}

h1, .heading-1 {
    font-size: 3rem;
}

h2, .heading-2 {
    font-size: 2.125rem;
    letter-spacing: 0.25px;
}

h3, .heading-3 {
    font-size: 1.5rem;
}

h4, .heading-4 {
    font-size: 1.25rem;
    letter-spacing: 0.15px;
}

h5, .heading-5 {
    font-size: 1rem;
    letter-spacing: 0.15px;
}

h6, .heading-6 {
    font-size: 0.875rem;
    letter-spacing: 0.1px;
}

/* Text Styles */
.text-normal {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.text-large {
    font-size: 1.125rem;
    letter-spacing: 0.5px;
}

.text-super-large {
    font-size: 1.5rem;
    letter-spacing: 0.75px;
}

.text-small {
    font-size: 0.875rem;
    letter-spacing: 0.25px;
}

.text-tiny {
    font-size: 0.75rem;
    letter-spacing: 0.25px;
}

.text-bold {
    font-weight: bold;
}


/*****************/
/* SHADOW STYLES */
/*****************/

.shadow-center-normal {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.shadow-center-large {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.shadow-bottom-normal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.shadow-bottom-large {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

/*****************/
/* BUTTON CONFIG */
/*****************/

/* Primary Button */
.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary-fill {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--text-light-base);
    background: var(--primary-color);
    border: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-primary-outline {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-primary-noborder {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--primary-color);
    border: none;
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-primary-fill:hover {
    background: var(--rose-600);
    color: var(--text-light-base);
}

.button-primary-outline:hover {
    background: var(--rose-600);
    color: var(--text-light-base);
    border: 1px solid var(--rose-600);
}

.button-primary-noborder:hover {
    color: var(--rose-600);
}

.button-primary-fill:active {
    background: var(--rose-800);
    color: var(--text-light-base);
}

.button-primary-outline:active {
    background: var(--rose-800);
    color: var(--text-light-base);
    border: 1px solid var(--rose-800);
}

.button-primary-noborder:active {
    color: var(--rose-800);
}

.button-primary-fill:disabled {
    background: var(--rose-200);
    pointer-events: none;
}

.button-primary-outline:disabled {
    border: 1px solid var(--rose-200);
    color: var(--rose-200);
    pointer-events: none;
}

.button-primary-noborder:disabled {
    color: var(--rose-200);
    pointer-events: none;
}

/* Secondary Button */
.button-secondary-fill {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--text-light-base);
    background: var(--secondary-color);
    border: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-secondary-outline {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-secondary-noborder {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--secondary-color);
    border: none;
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-secondary-fill:hover {
    background: var(--yellow-600);
    color: var(--text-light-base);
}

.button-secondary-outline:hover {
    background: var(--yellow-600);
    color: var(--text-light-base);
    border: 1px solid var(--yellow-600);
}

.button-secondary-noborder:hover {
    color: var(--yellow-600);
}

.button-secondary-fill:active {
    background: var(--yellow-800);
    color: var(--text-light-base);
}

.button-secondary-outline:active {
    background: var(--yellow-800);
    color: var(--text-light-base);
    border: 1px solid var(--yellow-800);
}

.button-secondary-noborder:active {
    color: var(--yellow-800);
}

.button-secondary-fill:disabled {
    background: var(--yellow-200);
    pointer-events: none;
}

.button-secondary-outline:disabled {
    border: 1px solid var(--yellow-200);
    color: var(--yellow-200);
    pointer-events: none;
}

.button-secondary-noborder:disabled {
    color: var(--yellow-200);
    pointer-events: none;
}

/* Third Button */
.button-third-fill {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--text-light-base);
    background: var(--third-color);
    border: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-third-outline {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-third-noborder {
    width: max-content;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    color: var(--third-color);
    border: none;
    background: none;
    font-weight: 600;
    letter-spacing: 0.75px;
}

.button-third-fill:hover {
    background: var(--purple-600);
    color: var(--text-light-base);
}

.button-third-outline:hover {
    background: var(--purple-600);
    color: var(--text-light-base);
    border: 1px solid var(--purple-600);
}

.button-third-noborder:hover {
    color: var(--purple-600);
}

.button-third-fill:active {
    background: var(--purple-800);
    color: var(--text-light-base);
}

.button-third-outline:active {
    background: var(--purple-800);
    color: var(--text-light-base);
    border: 1px solid var(--purple-800);
}

.button-third-noborder:active {
    color: var(--purple-800);
}

.button-third-fill:disabled {
    background: var(--purple-200);
    pointer-events: none;
}

.button-third-outline:disabled {
    border: 1px solid var(--purple-200);
    color: var(--purple-200);
    pointer-events: none;
}

.button-third-noborder:disabled {
    color: var(--purple-200);
    pointer-events: none;
}

